@use "../../styles/globals/" as *;

.root {
	text-underline-offset: 4px;
	color: var(--a--link--color);
	text-decoration: underline;

	word-wrap: break-word;

	&.noUnderline {
		text-decoration: none;
	}

	@include use-inverted {
		color: var(--a--link--inversion);
	}

	@include hover-animation;

	@include use-focus-visible {
		border-radius: 2px;
	}

	&.hover {
		@include use-hover {
			text-underline-offset: 4px;
			color: var(--a--link--hover);
			text-decoration: underline;

			&.noUnderline {
				text-decoration: none;
			}

			@include use-inverted {
				color: var(--a--link--inversion--hover);
			}
		}
	}

	&.active {
		text-underline-offset: 4px;
		color: var(--a--link--active);
		text-decoration: underline;
		cursor: not-allowed;
		pointer-events: none;

		&.noUnderline {
			text-decoration: none;
		}

		@include use-inverted {
			color: var(--a--link--inversion--active);
		}
	}

	@include use-clicked {
		color: var(--a--link--clicked);
		@include use-inverted {
			color: var(--a--link--inversion--clicked);
		}
	}

	@include use-disabled {
		color: var(--a--link--disabled);
		@include use-inverted {
			color: var(--a--link--inversion--disabled);
		}
	}
}
