.root {
	display: grid;
	width: 24px;
	height: 24px;
	@extend %set-no-events;
	@extend %set-no-select;

	& > * {
		grid-area: 1 / 1;
	}

	.counter {
		justify-self: center;
		position: relative;
		align-self: center;
	}

	.background {
		display: flex;
		width: 24px;
		height: 24px;
		background-color: get-color(shade-35);
		border-radius: 50%;
		opacity: 5%;
	}

	.animation {
		--a--loader-counter--animation-duration: 3000ms;
		justify-self: center;
		position: relative;
		align-self: center;
		transform: rotate(45deg);
		&::before {
			inset: -12px;
			position: absolute;
			content: "";
			border: 3px solid get-color(shade-35);
			border-radius: 50%;
			animation: loader-animation forwards linear;
			animation-duration: var(--a--loader-counter--animation-duration);
		}
	}
}
@keyframes loader-animation {
	0% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
}
