.root {
   @apply flex
	items-center
	justify-between
	border-b
	border-red-600
	hover:bg-red-950;

   /* &:hover {
		background-color: var(--a--color--red-9);
	}
	border-bottom: 1px solid var(--a--color--red-8); */
}

.cell {
   @apply flex
	overflow-hidden
	p-2;
}
