%container {
	width: 100%;
}

%container-sm {
	width: 100%;
	max-width: 640px;
}

%container-md {
	width: 100%;
	max-width: 768px;
}

%container-lg {
	width: 100%;
	max-width: 1024px;
}

%container-xl {
	width: 100%;
	max-width: 1280px;
}

%container-2xl {
	width: 100%;
	max-width: 1536px;
}
