:root,
html[data-ameliance-ui-theme="dark"] {
	$colors: (
		red: 0,
		orangered: 16,
		orange: 32,
		yellow: 53,
		lime: 75,
		lawngreen: 93,
		green: 120,
		guppiegreen: 150,
		teal: 165,
		aqua: 180,
		ligthblue: 210,
		blue: 240,
		violet: 270,
		purple: 300,
		pink: 330,
	);

	--a--color--saturation: 70%;
	
	@mixin setColor($colorName, $shade) {
		@for $i from 1 through 9 {
			#{'--a--color--' + $colorName + '-' + $i}: hsl(
				#{$shade},
				var(--a--color--saturation),
				#{100% - (10% * $i)}
			);
		}
	}

	@each $color, $shade in $colors {
		@include setColor($color, $shade);
	}
	
	--a--color--shade-05: var(--a--primitive--color--shade-95);
	--a--color--shade-10: var(--a--primitive--color--shade-90);
	--a--color--shade-15: var(--a--primitive--color--shade-85);
	--a--color--shade-20: var(--a--primitive--color--shade-80);
	--a--color--shade-25: var(--a--primitive--color--shade-75);
	--a--color--shade-30: var(--a--primitive--color--shade-70);
	--a--color--shade-35: var(--a--primitive--color--shade-65);
	--a--color--shade-40: var(--a--primitive--color--shade-60);
	--a--color--shade-45: var(--a--primitive--color--shade-55);
	--a--color--shade-50: var(--a--primitive--color--shade-50);
	--a--color--shade-55: var(--a--primitive--color--shade-45);
	--a--color--shade-60: var(--a--primitive--color--shade-40);
	--a--color--shade-65: var(--a--primitive--color--shade-35);
	--a--color--shade-70: var(--a--primitive--color--shade-30);
	--a--color--shade-75: var(--a--primitive--color--shade-25);
	--a--color--shade-80: var(--a--primitive--color--shade-20);
	--a--color--shade-85: var(--a--primitive--color--shade-15);
	--a--color--shade-90: var(--a--primitive--color--shade-10);
	--a--color--shade-95: var(--a--primitive--color--shade-05);

	--a--color--shade-opacity-05: var(--a--primitive--color--shade-opacity-95);
	--a--color--shade-opacity-10: var(--a--primitive--color--shade-opacity-90);
	--a--color--shade-opacity-15: var(--a--primitive--color--shade-opacity-85);
	--a--color--shade-opacity-20: var(--a--primitive--color--shade-opacity-80);
	--a--color--shade-opacity-25: var(--a--primitive--color--shade-opacity-75);
	--a--color--shade-opacity-30: var(--a--primitive--color--shade-opacity-70);
	--a--color--shade-opacity-35: var(--a--primitive--color--shade-opacity-65);
	--a--color--shade-opacity-40: var(--a--primitive--color--shade-opacity-60);
	--a--color--shade-opacity-45: var(--a--primitive--color--shade-opacity-55);
	--a--color--shade-opacity-50: var(--a--primitive--color--shade-opacity-50);
	--a--color--shade-opacity-55: var(--a--primitive--color--shade-opacity-45);
	--a--color--shade-opacity-60: var(--a--primitive--color--shade-opacity-40);
	--a--color--shade-opacity-65: var(--a--primitive--color--shade-opacity-35);
	--a--color--shade-opacity-70: var(--a--primitive--color--shade-opacity-30);
	--a--color--shade-opacity-75: var(--a--primitive--color--shade-opacity-25);
	--a--color--shade-opacity-80: var(--a--primitive--color--shade-opacity-20);
	--a--color--shade-opacity-85: var(--a--primitive--color--shade-opacity-15);
	--a--color--shade-opacity-90: var(--a--primitive--color--shade-opacity-10);
	--a--color--shade-opacity-95: var(--a--primitive--color--shade-opacity-05);

	--a--color--low: 					var(--a--primitive--color--white);
	--a--color--low-opacity-01: 	var(--a--primitive--color--white-opacity-09);
	--a--color--low-opacity-02: 	var(--a--primitive--color--white-opacity-08);
	--a--color--low-opacity-03: 	var(--a--primitive--color--white-opacity-07);
	--a--color--low-opacity-04: 	var(--a--primitive--color--white-opacity-06);
	--a--color--low-opacity-05: 	var(--a--primitive--color--white-opacity-05);
	--a--color--low-opacity-06: 	var(--a--primitive--color--white-opacity-04);
	--a--color--low-opacity-07: 	var(--a--primitive--color--white-opacity-03);
	--a--color--low-opacity-08: 	var(--a--primitive--color--white-opacity-02);
	--a--color--low-opacity-09: 	var(--a--primitive--color--white-opacity-01);

	--a--color--high: 				var(--a--primitive--color--black);
	--a--color--high-opacity-01: 	var(--a--primitive--color--black-opacity-09);
	--a--color--high-opacity-02: 	var(--a--primitive--color--black-opacity-08);
	--a--color--high-opacity-03: 	var(--a--primitive--color--black-opacity-07);
	--a--color--high-opacity-04: 	var(--a--primitive--color--black-opacity-06);
	--a--color--high-opacity-05: 	var(--a--primitive--color--black-opacity-05);
	--a--color--high-opacity-06: 	var(--a--primitive--color--black-opacity-04);
	--a--color--high-opacity-07: 	var(--a--primitive--color--black-opacity-03);
	--a--color--high-opacity-08: 	var(--a--primitive--color--black-opacity-02);
	--a--color--high-opacity-09: 	var(--a--primitive--color--black-opacity-01);
}
