:root {
   --scroll-color--background: var(--a--color--b1-0);
   --scroll-color--thumb: var(--a--color--scroll-thumb);
   --scroll-color--track: var(--a--color--b1-0);
   --scroll-radius--border: 0px;
}
