@use "~/asmlib/styles/globals/" as *;
@use "Button.root" as *;

.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--button__height);
	padding: 0 var(--button__side-padding);
	color: var(--button__color);
	user-select: none;
	border-radius: var(--button__radius);
	background: none;
	border: none;

	overflow: hidden;

	display: grid;

	.label,
	.background,
	.border {
		grid-area: 1 / 1;
	}

	@include size-small {
		height: var(--button__height_small);
	}

	@include size-medium {
		height: var(--button__height_medium);
	}

	@include size-large {
		height: var(--button__height_large);
	}

	@include clickable;

	@include animation-hover;

	@include disabled {
		opacity: 60%;
		cursor: not-allowed;
		pointer-events: none;
	}

	.label {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 8px;
		height: var(--button__label-height);
		color: inherit;
		opacity: 100%;

		@include size-small {
			height: var(--button__label-height_small);
		}

		@include size-medium {
			height: var(--button__label-height_medium);
		}

		@include size-large {
			height: var(--button__label-height_large);
		}
	}

	&.icon {
		padding: 0;
		width: var(--button__width);
		border-radius: 50%;

		@include size-small {
			width: var(--button__width_small);
		}

		@include size-medium {
			width: var(--button__width_medium);
		}

		@include size-large {
			width: var(--button__width_large);
		}
	}
}

.secondary {
	color: var(--button-secondary__color);
}

.text {
	color: var(--button-text__color);
}

.background,
.border {
	width: inherit;
	height: inherit;
	border-radius: 50%;
}

.Button {
	.background {
		border: none;
		border-radius: 50%;
		background-color: var(--button__background);
	}

	&.secondary > .background {
		background: none;
	}
	&.secondary > .border {
		border: var(--button__border-size) solid var(--button-secondary__border);
	}

	&.text > .background {
		background: none;
	}

	@include hover {
		.background {
			background-color: var(--button__background_hover);
		}

		&.secondary > .background {
			background-color: var(--button-secondary__background_hover);
			opacity: 10%;
		}

		&.text > .background {
			background-color: var(--button-text__background_hover);
			opacity: 10%;
		}
	}

	@include active {
		.background {
			background-color: var(--button__background_active);
		}

		&.secondary > .background {
			background-color: var(--button-secondary__background_active);
			opacity: 10%;
		}

		&.text > .background {
			background-color: var(--button-text__background_active);
			opacity: 10%;
		}
	}
}
