@use "../../../styles/globals/" as *;
@use "typography-fonts.variables" as *;

:root {
   --a--typography--font-family--button: #{$font-family--secondary};
   --a--typography--font-family--button-icon: #{$font-family--secondary};
   --a--typography--font-family--button-icon-sm: #{$font-family--secondary};
   --a--typography--font-family--button-sm: #{$font-family--secondary};
   --a--typography--font-family--caption: #{$font-family--secondary};
   --a--typography--font-family--h1: #{$font-family--secondary};
   --a--typography--font-family--h2: #{$font-family--secondary};
   --a--typography--font-family--h3: #{$font-family--secondary};
   --a--typography--font-family--h4: #{$font-family--secondary};
   --a--typography--font-family--h5: #{$font-family--secondary};
   --a--typography--font-family--h6: #{$font-family--secondary};
   --a--typography--font-family--input: #{$font-family--secondary};
   --a--typography--font-family--link: #{$font-family--secondary};
   --a--typography--font-family--link-sm: #{$font-family--secondary};
   --a--typography--font-family--overline: #{$font-family--secondary};
   --a--typography--font-family--p1: #{$font-family--secondary};
   --a--typography--font-family--p2: #{$font-family--secondary};
   --a--typography--font-family--subtitle1: #{$font-family--secondary};
   --a--typography--font-family--subtitle2: #{$font-family--secondary};

   --a--typography--font-size--button: 18px;
   --a--typography--font-size--button-icon: 18px;
   --a--typography--font-size--button-icon-sm: 14px;
   --a--typography--font-size--button-sm: 14px;
   --a--typography--font-size--caption: 8px;
   --a--typography--font-size--h1: 64px;
   --a--typography--font-size--h2: 48px;
   --a--typography--font-size--h3: 36px;
   --a--typography--font-size--h4: 24px;
   --a--typography--font-size--h5: 18px;
   --a--typography--font-size--h6: 14px;
   --a--typography--font-size--input: 18px;
   --a--typography--font-size--link: 18px;
   --a--typography--font-size--link-sm: 14px;
   --a--typography--font-size--overline: 18px;
   --a--typography--font-size--p1: 18px;
   --a--typography--font-size--p2: 14px;
   --a--typography--font-size--subtitle1: 12px;
   --a--typography--font-size--subtitle2: 10px;

   @include screen-md {
      --a--typography--font-size--button: 16px;
      --a--typography--font-size--button-icon: 16px;
      --a--typography--font-size--button-icon-sm: 12px;
      --a--typography--font-size--button-sm: 12px;
      --a--typography--font-size--caption: 8px;
      --a--typography--font-size--h1: 48px;
      --a--typography--font-size--h2: 36px;
      --a--typography--font-size--h3: 24px;
      --a--typography--font-size--h4: 18px;
      --a--typography--font-size--h5: 16px;
      --a--typography--font-size--h6: 12px;
      --a--typography--font-size--input: 16px;
      --a--typography--font-size--link: 16px;
      --a--typography--font-size--link-sm: 12px;
      --a--typography--font-size--overline: 16px;
      --a--typography--font-size--p1: 16px;
      --a--typography--font-size--p2: 12px;
      --a--typography--font-size--subtitle1: 10px;
      --a--typography--font-size--subtitle2: 8px;
   }

   --a--typography--font-style--button: normal;
   --a--typography--font-style--button-icon: normal;
   --a--typography--font-style--button-icon-sm: normal;
   --a--typography--font-style--button-sm: normal;
   --a--typography--font-style--caption: normal;
   --a--typography--font-style--h1: normal;
   --a--typography--font-style--h2: normal;
   --a--typography--font-style--h3: normal;
   --a--typography--font-style--h4: normal;
   --a--typography--font-style--h5: normal;
   --a--typography--font-style--h6: normal;
   --a--typography--font-style--input: normal;
   --a--typography--font-style--link: normal;
   --a--typography--font-style--link-sm: normal;
   --a--typography--font-style--overline: normal;
   --a--typography--font-style--p1: normal;
   --a--typography--font-style--p2: normal;
   --a--typography--font-style--subtitle1: normal;
   --a--typography--font-style--subtitle2: normal;

   --a--typography--font-weight--button: 700;
   --a--typography--font-weight--button-icon: 700;
   --a--typography--font-weight--button-icon-sm: 700;
   --a--typography--font-weight--button-sm: 700;
   --a--typography--font-weight--caption: 500;
   --a--typography--font-weight--h1: 700;
   --a--typography--font-weight--h2: 700;
   --a--typography--font-weight--h3: 700;
   --a--typography--font-weight--h4: 700;
   --a--typography--font-weight--h5: 700;
   --a--typography--font-weight--h6: 700;
   --a--typography--font-weight--input: 500;
   --a--typography--font-weight--link: 500;
   --a--typography--font-weight--link-sm: 500;
   --a--typography--font-weight--overline: 700;
   --a--typography--font-weight--p1: 500;
   --a--typography--font-weight--p2: 500;
   --a--typography--font-weight--subtitle1: 700;
   --a--typography--font-weight--subtitle2: 700;

   --a--typography--letter-spacing--button: 0;
   --a--typography--letter-spacing--button-icon: 0;
   --a--typography--letter-spacing--button-icon-sm: 0;
   --a--typography--letter-spacing--button-sm: 0;
   --a--typography--letter-spacing--caption: 0;
   --a--typography--letter-spacing--h1: 0;
   --a--typography--letter-spacing--h2: 0;
   --a--typography--letter-spacing--h3: 0;
   --a--typography--letter-spacing--h4: 0;
   --a--typography--letter-spacing--h5: 0;
   --a--typography--letter-spacing--h6: 0;
   --a--typography--letter-spacing--input: 0;
   --a--typography--letter-spacing--link: 0;
   --a--typography--letter-spacing--link-sm: 0;
   --a--typography--letter-spacing--overline: 0;
   --a--typography--letter-spacing--p1: 0;
   --a--typography--letter-spacing--p2: 0;
   --a--typography--letter-spacing--subtitle1: 0;
   --a--typography--letter-spacing--subtitle2: 0;

   --a--typography--line-height--button: 120%;
   --a--typography--line-height--button-icon: 120%;
   --a--typography--line-height--button-icon-sm: 120%;
   --a--typography--line-height--button-sm: 120%;
   --a--typography--line-height--caption: 120%;
   --a--typography--line-height--h1: 140%;
   --a--typography--line-height--h2: 140%;
   --a--typography--line-height--h3: 140%;
   --a--typography--line-height--h4: 160%;
   --a--typography--line-height--h5: 160%;
   --a--typography--line-height--h6: 160%;
   --a--typography--line-height--input: 140%;
   --a--typography--line-height--link: 140%;
   --a--typography--line-height--link-sm: 140%;
   --a--typography--line-height--overline: 120%;
   --a--typography--line-height--p1: 160%;
   --a--typography--line-height--p2: 160%;
   --a--typography--line-height--subtitle1: 140%;
   --a--typography--line-height--subtitle2: 140%;
}
