:root {
   --a--color--caption: var(--a--color--f1-1);
   --a--color--caption_inversion: var(--a--color--f2-1);
   --a--color--h1: var(--a--color--f1-1);
   --a--color--h1_inversion: var(--a--color--f2-1);
   --a--color--h2: var(--a--color--f1-1);
   --a--color--h2_inversion: var(--a--color--f2-1);
   --a--color--h3: var(--a--color--f1-1);
   --a--color--h3_inversion: var(--a--color--f2-1);
   --a--color--h4: var(--a--color--f1-1);
   --a--color--h4_inversion: var(--a--color--f2-1);
   --a--color--h5: var(--a--color--f1-1);
   --a--color--h5_inversion: var(--a--color--f2-1);
   // --a--color--button: var(--a--color--a1-1);
   // --a--color--button-sm: var(--a--color--f1-1);
   // --a--color--button-icon: var(--a--color--f1-1);
   // --a--color--button-icon-sm: var(--a--color--f1-1);
   --a--color--h6: var(--a--color--f1-1);
   --a--color--h6_inversion: var(--a--color--f2-1);
   --a--color--input: var(--a--color--f1-1);

   --a--color--input_inversion: var(--a--color--f2-1);
   --a--color--link: var(--a--color--f1-1);
   --a--color--link-sm: var(--a--color--f1-1);
   --a--color--link-sm_inversion: var(--a--color--f2-1);
   --a--color--link_inversion: var(--a--color--f2-1);
   --a--color--overline: var(--a--color--f1-1);
   --a--color--overline_inversion: var(--a--color--f2-1);
   --a--color--p1: var(--a--color--f1-1);
   --a--color--p1_inversion: var(--a--color--f2-1);
   --a--color--p2: var(--a--color--f1-1);
   --a--color--p2_inversion: var(--a--color--f2-1);
   --a--color--subtitle1: var(--a--color--f1-1);
   // --a--color--button_inversion: var(--a--color--f2-1);
   // --a--color--button-sm_inversion: var(--a--color--f2-1);
   // --a--color--button-icon_inversion: var(--a--color--f2-1);
   // --a--color--button-icon-sm_inversion: var(--a--color--f2-1);
   --a--color--subtitle1_inversion: var(--a--color--f2-1);
   --a--color--subtitle2: var(--a--color--f1-1);
   --a--color--subtitle2_inversion: var(--a--color--f2-1);
}
