$font--name--primary: "Montserrat";
$font--name--secondary: "Montserrat";
$font--name--tertiary: "";

$font-family--primary: $font--name--primary, system-ui, sans-serif, serif;
$font-family--secondary: $font--name--secondary, system-ui, sans-serif, serif;
$font-family--tertiary: $font--name--tertiary, monospace, system-ui, sans-serif, serif;
