.root {
	display: inline-flex;
	flex-direction: column;
	row-gap: 4px;
	font-family: var(--a--typography--font-family--p1);
	font-style: var(--a--typography--font-style--p1);
	font-size: 16px;
	line-height: var(--a--typography--line-height--p1);
	font-weight: var(--a--typography--font-weight--p1);
	letter-spacing: var(--a--typography--letter-spacing--p1);
}

.unordered,
.ordered,
.description {
	li {
		margin-left: 36px;
		color: get-color(shade-35);
		& > :not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.unordered {
	li {
		list-style-type: disc;
	}
}

.ordered {
	li {
		list-style-type: decimal;
	}
}

.description {
	margin: 0;
	li {
		list-style-type: none;
	}
}

.plain {
	// padding: 0;
	margin: 0;
	list-style: none;
	li {
		margin: 0;
		// padding: 0;
	}
}
