.root {
   display: inline-flex;
   flex-direction: column;
   // row-gap: 4px;
}

.unordered {
   li {
      margin-left: 36px;
      list-style-type: disc;
      color: var(--color--f1-1);
   }
}

.custom {
   li {
      margin-left: 36px;
      color: var(--color--f1-1);
   }
}
