@use "../globals/" as *;

.scroll {
   &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: var(--scroll-color--track);
      @include screen-md {
         & {
            width: 6px;
            height: 6px;
         }
      }
   }
   &::-webkit-scrollbar-track {
      background: var(--scroll-color--track);
   }
   &::-webkit-scrollbar-thumb {
      border: 0px solid var(--scroll-color--track);
      border-radius: var(--scroll-radius--border);
      background: var(--scroll-color--thumb);
   }
}

.scroll-transparent {
   &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: none;
      @include screen-md {
         & {
            width: 6px;
            height: 6px;
         }
      }
   }
   &::-webkit-scrollbar-track {
      background: var(--scroll-color--track);
   }
   &::-webkit-scrollbar-thumb {
      border: 1px solid none;
      border-radius: var(--scroll-radius--border);
      background: none;
   }
}
