.h1 {
	margin-top: calc(var(--a--typography--font-size--h1) / 1.5);
}

.h2 {
	margin-top: calc(var(--a--typography--font-size--h2) / 1.5);
}

.h3 {
	margin-top: calc(var(--a--typography--font-size--h3) / 1.5);
}

.h4 {
	margin-top: calc(var(--a--typography--font-size--h4) / 1.5);
}

.h5 {
	margin-top: calc(var(--a--typography--font-size--h5) / 1.5);
}

.h6 {
	margin-top: calc(var(--a--typography--font-size--h6) / 1.5);
}

.p1 {
	margin-top: calc(var(--a--typography--font-size--p1) / 1.5);
	font-size: 16px;
}

.p2 {
	margin-top: calc(var(--a--typography--font-size--p1) / 1.5);
}
