@use "../../globals/" as *;

input[type="file"] {
	cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
	width: 10px;
	height: 0;
	padding: 0;
	margin: 0;
	color: transparent;
	visibility: hidden;
}

input[type="file"]::before {
	display: inline-block;
	height: 24px;
	padding: 3px 8px 0px 8px;
	color: get-color(shade-35);
	white-space: nowrap;
	vertical-align: middle;
	content: "Select files";
	user-select: none;
	background-color: none;
	// outline: none;
	border: 1px solid get-color(shade-35);
	border-radius: 4px;
	cursor: pointer;
}

input[type="file"]:hover::before {
	border: 1px solid get-color(shade-35);
}

// input[type="file"]:active {
//    outline: 0;
// }

input[type="file"]:active::before {
	border: 1px solid get-color(shade-35);
}
