input[type="file"] {
   cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
   visibility: hidden;
   width: 10px;
   height: 0;
   margin: 0;
   padding: 0;
   color: transparent;
}

input[type="file"]::before {
   display: inline-block;
   height: 24px;
   padding: 3px 8px 0px 8px;
   border: 1px solid var(--a--color--f1-1);
   border-radius: 4px;
   color: var(--a--color--f1-1);
   vertical-align: middle;
   white-space: nowrap;
   cursor: pointer;
   // outline: none;
   user-select: none;
   content: "Select files";
   background-color: none;
}

input[type="file"]:hover::before {
   border: 1px solid var(--a--color--f1-1);
}

// input[type="file"]:active {
//    outline: 0;
// }

input[type="file"]:active::before {
   border: 1px solid var(--a--color--f1-1);
}
