input[type="radio"] {
	// Remove most all native input styles
	-webkit-appearance: none;
	appearance: none;
	// For iOS < 15
	place-content: center;
	// Not removed via appearance
	display: grid;

	width: 14px;
	height: 14px;
	margin: 0;
	background-color: none;

	border: 1px solid get-color(shade-35);
	border-radius: 50%;
}

input[type="radio"]::before {
	width: 8px;
	height: 8px;
	content: "";
	border-radius: 50%;
	box-shadow: inset 1em 1em get-color(shade-35);
	transition: transform 0.2s ease-in-out;
	transform: scale(0);
}

input[type="radio"]:checked::before {
	transform: scale(100%);
}
