@use "../../globals/" as *;

:root {
	--a--gap: var(--a--screen--gap);
	--a--col-gap: var(--a--screen--col-gap);
	--a--col-outer: var(--a--screen--col-outer);

	--a--container-width: calc(var(--a--screen--container--width) + (var(--a--col-outer) * 2));

	--a--gap--1: 1px;
	--a--gap--2: 2px;
	--a--gap--4: 4px;
	--a--gap--8: 8px;
	--a--gap--12: 12px;
	--a--gap--16: 16px;
	--a--gap--24: 24px;
	--a--gap--28: 28px;
	--a--gap--32: 32px;
	--a--gap--40: 40px;
	--a--gap--48: 48px;
	--a--gap--56: 56px;
	--a--gap--72: 72px;
	--a--gap--80: 80px;
	--a--gap--96: 96px;

	@include screen-xx {
		--a--gap: var(--a--screen--gap--xx);
		--a--col-gap: var(--a--screen--col-gap--xx);
		--a--col-outer: var(--a--screen--col-outer--xx);
	}
	@include screen-xl {
		--a--gap: var(--a--screen--gap--xl);
		--a--col-gap: var(--a--screen--col-gap--xl);
		--a--col-outer: var(--a--screen--col-outer--xl);
	}
	@include screen-lg {
		--a--gap: var(--a--screen--gap--lg);
		--a--col-gap: var(--a--screen--col-gap--lg);
		--a--col-outer: var(--a--screen--col-outer--lg);
	}
	@include screen-md {
		--a--gap: var(--a--screen--gap--md);
		--a--col-gap: var(--a--screen--col-gap--md);
		--a--col-outer: var(--a--screen--col-outer--md);
	}
	@include screen-sm {
		--a--gap: var(--a--screen--gap--sm);
		--a--col-gap: var(--a--screen--col-gap--sm);
		--a--col-outer: var(--a--screen--col-outer--sm);
	}
	@include screen-xs {
		--a--gap: var(--a--screen--gap--xs);
		--a--col-gap: var(--a--screen--col-gap--xs);
		--a--col-outer: var(--a--screen--col-outer--xs);
	}
	@include screen-ss {
		--a--gap: var(--a--screen--gap--ss);
		--a--col-gap: var(--a--screen--col-gap--ss);
		--a--col-outer: var(--a--screen--col-outer--ss);
	}
}
