//TODO: fix  colors

%alert {
   color: var(--a--color--a4-0);
   background-color: var(--a--color--a4-2);
}

%success {
   color: var(--a--color--a1-0);
   background-color: var(--a--color--a1-2);
}

%info {
   color: var(--a--color--a2-0);
   background-color: var(--a--color--a2-2);
}

%error {
   color: var(--a--color--a5-0);
   background-color: var(--a--color--a5-2);
}

%warn {
   color: var(--a--color--a6-0);
   background-color: var(--a--color--a6-2);
}
