:root {
	--a--button--radius: 12px;
	--a--button--border-size: 1px;
	--a--button--side-padding: 16px;

	--a--button--font-size--tiny: 10px;
	--a--button--font-size--small: 14px;
	--a--button--font-size--default: 18px;
	--a--button--font-size--medium: 24px;
	--a--button--font-size--large: 32px;
	--a--button--font-size--extra: 36px;

	--a--button--height--tiny: 24px;
	--a--button--height--small: 32px;
	--a--button--height--default: 42px;
	--a--button--height--medium: 48px;
	--a--button--height--large: 56px;
	--a--button--height--extra: 80px;

	--a--button--width--tiny: var(--a--button--height--tiny);
	--a--button--width--small: var(--a--button--height--small);
	--a--button--width--default: var(--a--button--height--default);
	--a--button--width--medium: var(--a--button--height--medium);
	--a--button--width--large: var(--a--button--height--large);
	--a--button--width--extra: var(--a--button--height--extra);

	--a--button--label-height--tiny: 12px;
	--a--button--label-height--small: 18px;
	--a--button--label-height--default: 24px;
	--a--button--label-height--medium: 36px;
	--a--button--label-height--large: 42px;
	--a--button--label-height--extra: 64px;
}
