html[data-theme="dark"] {
	--a--button--color: var(--a--color--f1-1);
	--a--button--color--hover: var(--a--color--f1-1);
	--a--button--color--active: var(--a--color--f1-1);
}

:root {
	--a--button--color: var(--a--color--f2-1);
	--a--button--color--hover: var(--a--color--f2-1);
	--a--button--color--active: var(--a--color--f2-1);

	--a--button--background: var(--a--color--e1-1);
	--a--button--background--hover: var(--a--color--e1-2);
	--a--button--background--active: var(--a--color--e1-0);

	--a--button--border: var(--a--color--f1-1);
	--a--button--border--hover: var(--a--color--f1-2);
	--a--button--border--active: var(--a--color--f1-0);

	--a--button-secondary--color: var(--a--color--f1-1);
	--a--button-secondary--color--hover: var(--a--color--f1-2);
	--a--button-secondary--color--active: var(--a--color--f1-0);

	--a--button-secondary--border: none;
	--a--button-secondary--border--hover: none;
	--a--button-secondary--border--active: none;

	--a--button-secondary--background: var(--a--color--e2-1);
	--a--button-secondary--background--hover: var(--a--color--e2-2);
	--a--button-secondary--background--active: var(--a--color--e2-0);

	--a--button-text--color: var(--a--color--f1-1);
	--a--button-text--color--hover: var(--a--color--f1-2);
	--a--button-text--color--active: var(--a--color--f1-0);

	--a--button-text--background: none;
	--a--button-text--background--hover: var(--a--color--e2-2);
	--a--button-text--background--active: var(--a--color--e2-0);

	--a--button--radius: 12px;
	--a--button--border-size: 1px;
	--a--button--side-padding: 16px;

	--a--button--font-size--tiny: 10px;
	--a--button--font-size--small: 14px;
	--a--button--font-size--default: 18px;
	--a--button--font-size--medium: 24px;
	--a--button--font-size--large: 32px;
	--a--button--font-size--extra: 36px;

	--a--button--height--tiny: 24px;
	--a--button--height--small: 32px;
	--a--button--height--default: 42px;
	--a--button--height--medium: 48px;
	--a--button--height--large: 56px;
	--a--button--height--extra: 80px;

	--a--button--width--tiny: var(--a--button--height--tiny);
	--a--button--width--small: var(--a--button--height--small);
	--a--button--width--default: var(--a--button--height--default);
	--a--button--width--medium: var(--a--button--height--medium);
	--a--button--width--large: var(--a--button--height--large);
	--a--button--width--extra: var(--a--button--height--extra);

	--a--button--label-height--tiny: 12px;
	--a--button--label-height--small: 18px;
	--a--button--label-height--default: 24px;
	--a--button--label-height--medium: 36px;
	--a--button--label-height--large: 42px;
	--a--button--label-height--extra: 64px;
}
