:root {
	--a--color--link: var(--a--color--f1-1);
	--a--color--link--hover: var(--a--color--f1-2);
	--a--color--link--active: var(--a--color--f1-0);
	--a--color--link--disabled: var(--a--color--f1-1);

	--a--color--link-inversion: var(--a--color--f2-1);
	--a--color--link-inversion--hover: var(--a--color--f2-2);
	--a--color--link-inversion--active: var(--a--color--f2-0);
	--a--color--link-inversion--disabled: var(--a--color--f2-1);
}
