.container {
	display: inline-block;
	display: flex;
	height: 16px;
	margin-top: 6px;
	align-items: center;
	column-gap: 8px;
	cursor: pointer;

	// &:hover .switcher__element:before {
	//   background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	// }
}

.element {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 14px;
	vertical-align: middle;
	border: 1px solid get-color(shade-35);
	border-radius: 16px;
	transition: background-color 0.2s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		position: absolute;
		// background-color: get-color(shade-35);
		top: 2px;
		left: 2px;
		display: block;
		width: 8px;
		height: 8px;
		border: 1px solid get-color(shade-35);
		border-radius: 50%;
		transition: left 0.25s;
	}
}

.checkbox {
	position: absolute;
	visibility: hidden;
	&:checked + .element {
		background-color: none;
	}
	&:checked + .element:before {
		left: 12px;
		background-color: get-color(shade-35);
	}
}
