// ADD CLASS TO USE
// col-xx- | >= 1180 px | gap 24 px
// col-xx- | >= 1180 px | gap 24 px
// col-xl- | >= 1024 px | gap 24 px
// col-lg- | >=  768 px | gap 24 px
// col-md- | >=  540 px | gap 16 px
// col-sm- | >=  480 px | gap 16 px
// col-xs- | >=  360 px | gap 16 px
// col-ss- | >=  320 px | gap 8 px

:root {
	// 1432
	// block container --> (92px * 12 columns) + (gutter 24 px * 11) + (side padding 32px * 2)
	// 1272
	// block container --> (84px * 12 columns) + (gutter 24 px * 11) + (side padding 32px * 2)
	--a--screen--container--width: 1272px;

	--a--screen--gap: 24px;
	--a--screen--col-gap: 24px;
	--a--screen--col-outer: 32px;

	--a--screen--gap--xx: var(--a--screen--gap);
	--a--screen--col-gap--xx: var(--a--screen--col-gap);
	--a--screen--col-outer--xx: var(--a--screen--col-outer);

	--a--screen--gap--xl: 24px;
	--a--screen--col-gap--xl: 24px;
	--a--screen--col-outer--xl: 24px;
	--a--screen--gap--lg: var(--a--screen--gap--xl);
	--a--screen--col-gap--lg: var(--a--screen--col-gap--xl);
	--a--screen--col-outer--lg: var(--a--screen--col-outer--xl);

	--a--screen--gap--md: 16px;
	--a--screen--col-gap--md: 16px;
	--a--screen--col-outer--md: 16px;
	--a--screen--gap--sm: var(--a--screen--gap--md);
	--a--screen--col-gap--sm: var(--a--screen--col-gap--md);
	--a--screen--col-outer--sm: var(--a--screen--col-outer--md);
	--a--screen--gap--xs: var(--a--screen--gap--md);
	--a--screen--col-gap--xs: var(--a--screen--col-gap--md);
	--a--screen--col-outer--xs: var(--a--screen--col-outer--md);

	--a--screen--gap--ss: 8px;
	--a--screen--col-gap--ss: 8px;
	--a--screen--col-outer--ss: 8px;
}
