@use "../../styles/globals/" as *;

.root {
	display: flex;
	padding: 12px 16px;
	align-items: center;
	gap: 8px;
	user-select: none;
	list-style: none;
	& > * {
		display: flex;
		align-items: center;
		line-height: 100%;
	}

	@extend %set-clickable;

	@include use-hover {
		background-color: get-color(shade-75);
	}

	@include use-clicked {
		background-color: get-color(shade-80);
	}

	@include use-disabled;
}
